/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Bontex";
  src: url("./media/Fonts/bontex-font/Bontex.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-image: url("./media/STRUCTURE/background.jpg");
}

h1 {
  font-family: Bontex;
  font-size: 5rem;
  font-weight: 900;
  border-radius: 1rem;
  color: rgb(59, 60, 60);
}

/* NAVBAR */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 4em;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  width: 1280px;
  max-width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0 0.625rem;
  gap: 2rem;
}

nav li {
  display: flex;
  list-style: none;
  margin: 0 0.625rem;
  gap: 2rem;
}

.nav-logo {
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  margin: 0 0.625em;
  font-family: bontex;
}

nav a {
  color: rgb(59, 60, 60);
  text-decoration: none;
  font-family: bontex;
  font-size: 2rem;
}

nav a:visited {
  color: rgb(59, 60, 60);
}

/* SPLIDE/SLIDE */

.splide {
  width: 80rem;
  height: 50rem;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  border-radius: 1rem;
  border-bottom: 0.1rem solid black;
}

.splide .hero-heading-main {
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
  right: 0;
  color: #222;
  width: 290px;
  text-align: center;
  margin: 0 auto;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0 4px 13px -4px rgba(0, 0, 0, 0.3);
  background-image: url("./media/STRUCTURE/background.jpg");
}

.splide_slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* INFO-BOX */

.info-box {
  margin: 5rem auto;
  font-size: 1.2rem;
}

.info-box p {
  width: 20rem;
  margin-right: 5rem;
  font-style: italic;
}

.info-box-gallery p {
  margin-top: 1.5rem;
  margin-right: 2rem;
  font-style: italic;
  text-align: left;
}

.info-box h2 {
  font-family: bontex;
  margin-right: 6rem;
}

#h2-gallery {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.info-box-gallery h2 {
  font-family: bontex;
  margin-right: 2.5rem;
}

.info-box-card {
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.info-box-card-gallery {
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-left: 3rem;
  margin-bottom: 3rem;
}

.info-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3rem;
}

.info-text-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.info-text-gallery p {
  width: 10rem;
}

.info-box-card img {
  width: 12rem;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  margin: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.info-box-card-gallery img {
  width: 12rem;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  margin: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* FORM FOR BOOKING */

/* FOOTER */

.footer {
}

.footer-inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 28px 32px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(28, 25, 23, 0.12);
  margin-top: 8px;
  font-size: 16px;
  letter-spacing: 0.18em;
  color: rgba(28, 25, 23, 0.5);
  display: flex;
  font-family: serif;
}

.footer-links {
  justify-content: center;
  display: flex;
  gap: 100px;
}
